.title {
  text-transform: capitalize;
}

.wrap {
  overflow-wrap: break-word;
}

.btn.btn-transparent {
  color: #333;
  background-color: transparent;
  border: none;
}

.btn.btn-transparent .glyphicon {
  margin-right: 15px;
}
